<div class="content-container" >
    <div>
        <div id="rectangle_1"  ></div>
        <div id="rectangle_2"  ></div>
        <div id="rectangle_3"  ></div>
        <p class="tittle">CAÑAR</p>
    </div>
</div>
<div class="contenedor-grupal">
    <div class="contenedor">
        <img src="https://www.bing.com/images/blob?bcid=sj5a0.YkPXMGwA" class="image">
        <h1 class="titulo"><b>El Tambo</b></h1>
        <P class="texto">El Tambo es uno de los siete cantones de la Provincia de Cañar. Está situada en la Carretera Panamericana, a seis kilómetros del cantón Cañar, a una altura de 2983 m s. n. m.,su nombre proviene del vocablo quichua “Tampu” ...</P>
    </div>

    <div class="contenedor">
        <img src="https://www.bing.com/images/blob?bcid=stig.P56nHMGxw" class="image">
        <h1 class="titulo"><b>Ingapirca</b></h1>
        <P class="texto">La fortaleza de Ingapirca es un complejo arqueológico ubicado en la provincia del Cañar, en Ecuador. En la provincia del Cañar, al sur del país, a 3160 m s. n. m. y a 16 km de la ciudad de Cañar, se levanta la más importante construcción arqueológica de origen inca ...</P>
    </div>

    <div class="contenedor">
        <img src="https://www.bing.com/images/blob?bcid=Tj6-lw4dKXMGqxcxoNWLuD9SqbotqVTdP3k" class="image">
        <h1 class="titulo"><b>Laguna Culebrillas</b></h1>
        <P class="texto">Estimada como una bella laguna sagrada para la sabiduría cañari, situada en una llanura al pie del Cerro Negro, en la jurisdicción de Cañar. El espacio está a 45 km del popular cantón Cañar. La laguna está envuelta de grandes páramos. Desde esta zona ...</P>
    </div>
</div>
<div class="contenedor_final">
    <img src="https://www.bing.com/images/blob?bcid=sh1KpxwZ03MGKw" class="image_banner">
</div>